<!DOCTYPE html>
<html ng-app="couponsApp">
  <head>
    <meta charset="utf-8">
    <title>Coupon</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-resource/angular-resource.js"></script> 
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <section class="row">
        <header class="page-header col-sm-12 text-center">
          <h1>Coupon <small>Code Challange</small></h1>
        </header>
        <p class="text-center">Insira seu CPF no campo abaixo para receber um coupon de desconto.</p>
        <form class="form-inline text-center" ng-controller="CouponsCtrl" ng-submit="generateCoupon()">
          <div class="alert alert-{{status}}" ng-show="status">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            <span class="message">{{message}}</span>
          </div>
          <div class="form-group">
            <label class="sr-only" for="cpf">CPF:</label>
            <input type="text" class="form-control" name="cpf" ng-model="cpf" placeholder="CPF">
          </div>
          <button type="submit" class="btn btn-primary">Gerar Cupom</button>
        </form>
      </section>
    </div>
  </body>
</html>
